.container {
  display: flex;
  flex-wrap: wrap;
}

.column1 {
  width: 100%;
}

.column2 {
  width: 100%;
}
  
@media (min-width: 1024px) {
  .column1 {
    width: 40%;
  }
  
  .column2 {
    width: 60%;
  }
}

.container h2 {
  padding: 0.25em 0.5em;
  background: transparent;
  border-left: solid 5px #5ca1e6;
}

.tasktable {
  border: 1px solid #aaa;
  border-collapse: collapse;
  width: 80%;
}

.tasktable tr{
  border: 1px solid #aaa;
}

.tasktable tr:hover {
  background-color: #eee;
}

.tasktable td{
  padding: 5px 15px;
}

.icon form{
  opacity: 0;
}

.icon:hover form{
  opacity: 0.8;
}

.diarytable {
  border: 1px solid #aaa;
  border-collapse: collapse;
  width: 80%;
}

.diarytable:hover {
  background-color: #eee;
}

.diarytable td{
  padding: 15px 15px;
}

.diaryimg {
  max-width: 250px;
}

.border {
  border-bottom: 1px solid #aaa;
}

.border .bordertd {
  padding-bottom: 40px;
}

input[type="submit"] {
	width: 80px;
    font-size: 14px;
    color: #fff;
	display: inline-block;
    padding: 5px 0px;
    text-align: center;
	background-color: #5ca1e6;
    border: 1px solid #5ca1e6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #5ca1e6;
    background-color: #fff;
    border: 1px solid #5ca1e6;
    border-radius: 5px;
    cursor: pointer;
}